<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nome.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.nome.po.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, app_id, user_id, time, contend
  </sql>
  
  <!--  按参数得到用户的评论-->
	<select id="queryListPram" resultMap="BaseResultMap"  parameterType="java.lang.Integer" >
		select *  from comment where user_id = #{userId}
	</select>
	
	<!--  按参数得到用户的评论-->
	<select id="queryOne" resultMap="BaseResultMap"  parameterType="com.nome.dao.CommentMapper" >
		select *  from comment where user_id = #{userId} and app_id=#{appId}
	</select>
	
	 <!--  得到单个app的所以评论-->
	<select id="queryListPram1" resultMap="BaseResultMap"  parameterType="java.lang.Integer" >
		select *  from comment where app_id = #{appId}
	</select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.nome.po.Comment" >
    insert into comment (id, app_id, user_id, 
      time, contend)
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{time,jdbcType=VARCHAR}, #{contend,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nome.po.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="contend != null" >
        contend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="contend != null" >
        #{contend,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nome.po.Comment" >
    update comment
    <set >
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="contend != null" >
        contend = #{contend,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nome.po.Comment" >
    update comment
    set app_id = #{appId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      time = #{time,jdbcType=VARCHAR},
      contend = #{contend,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>